{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@[a-zA-Z0-9]+$", "^#[a-zA-Z0-9]+", "^[./]"],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true
}