openapi: 3.0.3

info:
  title: ЗОВ Денег — Securities Service API
  description: |
    REST API для работы с ценными бумагами, котировками и историей цен.
    
    ## База данных
    ClickHouse - данные о стоимости ценных бумаг, история котировок, стаканы заявок.

    ## Валюта
    Все денежные суммы, баланс и котировки в API — **в российских рублях**; отдельное поле валюты в ответах не передаётся.

    ## Цены и суммы
    Цены, суммы в рублях, комиссии и десятичные проценты передаются **строками** с десятичной точкой
    (например `"298.45"`, `"-1284.50"`), без JSON-типа `number`, чтобы исключить потери точности на стороне бэкенда.

    ## Даты и время
    Все **моменты времени** в API — это **Unix timestamp в секундах** (целое `integer` / `int64`, UTC от эпохи 1970-01-01).
    Строки вида ISO 8601, отдельные поля «дата без времени» и локальные часовые пояса в контракте **не используются**.
    История цен бумаги: в HTTP-запросе интервал задаётся только **`from`** и **`to`** (секунды с эпохи, включительно).
    В клиентском UI допускаются понятные пользователю пресеты (день, неделя и т.д.); **клиент** сам переводит выбор в пару timestamp для сервера.

  version: 1.0.0
  contact:
    name: ЗОВ Денег Team
    email: api@zovdengi.ru

servers:
  - url: https://api.zovdengi.ru/v1
    description: Production

tags:
  - name: securities
    description: Ценные бумаги, котировки, история цен, стакан

security:
  - BearerAuth: []

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token

  schemas:

    # ── Общие ──────────────────────────────────────────────────────────────
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Машиночитаемый код ошибки
          example: INVALID_DATE_RANGE
        message:
          type: string
          description: Человекочитаемое описание
          example: Параметр from не может быть больше to
        details:
          type: object
          additionalProperties: true
          description: Дополнительные данные (необязательно)

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 142
        totalPages:
          type: integer
          example: 8

    DecimalString:
      type: string
      description: |
        Десятичная строка без экспоненциальной записи: необязательный знак `-`, целая часть, точка `.` и дробная часть.
        Используется для цен, сумм в рублях, комиссий и дробных процентов.
      example: "298.45"

    UnixTimestamp:
      type: integer
      format: int64
      description: |
        Момент времени в **секундах** с эпохи Unix (1970-01-01T00:00:00Z), целое число, UTC.
        Используется в телах ответов и в query **`from` / `to`** для истории цен (`GET .../price/history`).
      example: 1731571200

    # ── Ценные бумаги ──────────────────────────────────────────────────────
    SecurityType:
      type: string
      enum: [stock, bond, etf]
      description: |
        Тип ценной бумаги:
        - `stock` — акция
        - `bond` — облигация
        - `etf` — ETF (биржевой фонд)

    Exchange:
      type: string
      enum:
        - MOEX
        - SPB
      description: |
        Торговая площадка:
        - `MOEX` — Московская биржа
        - `SPB` — СПБ Биржа

    SecuritySector:
      type: string
      enum:
        - Финансы
        - Энергетика
        - Металлургия
        - Телекоммуникации
        - Потребительский сектор
        - Информационные технологии
        - Транспорт
        - Химическая промышленность
        - Строительство
        - Другое
      description: Сектор экономики ценной бумаги

    Security:
      type: object
      required:
        - id
        - ticker
        - name
        - type
        - exchange
        - sector
        - lotSize
        - lastPrice
        - priceChange
        - priceChangePct
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор бумаги в системе (первичный ключ)
          example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
        ticker:
          type: string
          description: Торговый тикер (может совпадать у разных выпусков облигаций)
          example: SBER
        name:
          type: string
          example: Сбербанк
        description:
          type: string
          nullable: true
          description: Краткое описание компании
          example: Крупнейший банк России и Восточной Европы
        type:
          $ref: '#/components/schemas/SecurityType'
        exchange:
          $ref: '#/components/schemas/Exchange'
        sector:
          $ref: '#/components/schemas/SecuritySector'
        lotSize:
          type: integer
          description: Размер лота в штуках
          example: 10
        lastPrice:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          description: Последняя известная цена в рублях
        priceChange:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          description: Изменение цены за торговый день в рублях
          example: "13.12"
        priceChangePct:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          description: Изменение цены за торговый день в процентах
          example: "4.6"

    PricePoint:
      type: object
      description: Точка на линейном графике цены
      properties:
        timestamp:
          $ref: '#/components/schemas/UnixTimestamp'
          description: Момент времени точки на графике
        price:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          description: Цена бумаги в момент времени
          example: "298.45"

    OrderBookLevel:
      type: object
      properties:
        price:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "299.20"
        quantity:
          type: integer
          description: Количество в штуках
          example: 500

    OrderBook:
      type: object
      required: [securityId, ticker, timestamp, asks, bids, spread]
      properties:
        securityId:
          type: string
          format: uuid
          description: Идентификатор бумаги
          example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
        ticker:
          type: string
          description: Торговый тикер (для отображения)
          example: SBER
        timestamp:
          $ref: '#/components/schemas/UnixTimestamp'
          description: Момент снимка стакана на сервере
        asks:
          type: array
          description: Заявки на продажу — от наименьшей цены к наибольшей
          items:
            $ref: '#/components/schemas/OrderBookLevel'
        bids:
          type: array
          description: Заявки на покупку — от наибольшей цены к наименьшей
          items:
            $ref: '#/components/schemas/OrderBookLevel'
        spread:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          description: Спред между лучшим Ask и лучшим Bid
          example: "0.80"

  # ── Reusable responses ─────────────────────────────────────────────────────
  responses:
    Unauthorized:
      description: Не аутентифицирован — отсутствует или недействителен access token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: UNAUTHORIZED
            message: Требуется аутентификация

    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: NOT_FOUND
            message: Ресурс не найден

    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: INTERNAL_ERROR
            message: Внутренняя ошибка сервера

  # ── Reusable parameters ────────────────────────────────────────────────────
  parameters:
    PageParam:
      name: page
      in: query
      description: Номер страницы (начиная с 1)
      schema:
        type: integer
        default: 1
        minimum: 1

    PageSizeParam:
      name: pageSize
      in: query
      description: Количество элементов на странице
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

    SecurityIdPath:
      name: securityId
      in: path
      required: true
      description: Уникальный идентификатор ценной бумаги (UUID)
      schema:
        type: string
        format: uuid
        example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11

    PriceHistoryFromQuery:
      name: from
      in: query
      required: true
      description: |
        Начало интервала выборки (включительно): **Unix timestamp в секундах**.
        Вместе с `to` задаёт произвольный промежуток на оси времени.
      schema:
        $ref: '#/components/schemas/UnixTimestamp'

    PriceHistoryToQuery:
      name: to
      in: query
      required: true
      description: |
        Конец интервала выборки (включительно): **Unix timestamp в секундах**.
        Должно выполняться `from` ≤ `to`.
      schema:
        $ref: '#/components/schemas/UnixTimestamp'

# ─────────────────────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────────────────────
paths:

  # ══════════════════════════════════════════════════════════════════════════
  # SECURITIES
  # ══════════════════════════════════════════════════════════════════════════

  /securities:
    get:
      tags: [securities]
      summary: Поиск и список ценных бумаг
      description: |
        Возвращает постраничный список бумаг с последними котировками.
        Поддерживает поиск по тикеру и названию, фильтрацию по типу, бирже и сектору.
        В каждой записи возвращается `id` (UUID) — его нужно использовать в путях `/securities/{securityId}` и в заявках.
      parameters:
        - name: q
          in: query
          description: Поиск по тикеру или названию компании
          schema:
            type: string
            example: Сбер
        - name: type
          in: query
          description: Фильтр по типу бумаги. Без параметра — возвращаются все типы
          schema:
            $ref: '#/components/schemas/SecurityType'
        - name: exchange
          in: query
          schema:
            $ref: '#/components/schemas/Exchange'
        - name: sector
          in: query
          schema:
            $ref: '#/components/schemas/SecuritySector'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Security'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /securities/{securityId}:
    parameters:
      - $ref: '#/components/parameters/SecurityIdPath'
    get:
      tags: [securities]
      summary: Детальная информация по бумаге
      description: Возвращает полные данные по одной бумаге по её UUID, включая последнюю цену и изменение за день.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Security'
        '404':
          $ref: '#/components/responses/NotFound'

  /securities/{securityId}/price/history:
    parameters:
      - $ref: '#/components/parameters/SecurityIdPath'
      - $ref: '#/components/parameters/PriceHistoryFromQuery'
      - $ref: '#/components/parameters/PriceHistoryToQuery'
    get:
      tags: [securities]
      summary: История цен для построения графика
      description: |
        Возвращает массив точек (`timestamp` — `UnixTimestamp`, `price` — `DecimalString`) за интервал **[from, to]**
        (оба query-параметра — секунды с эпохи, границы включительно).
        Клиентское приложение может показывать пользователю удобный выбор периода (например «день / неделя») и **само** вычислять `from` и `to` для этого запроса.
        Шаг агрегации / плотность точек на временной оси выбирается сервером по **длительности** интервала
        (короткий промежуток — более детальная сетка, длинный — более крупные шаги).
        В ответе поля **`from`** и **`to`** повторяют фактический интервал выборки (как в запросе или нормализованный сервером).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [securityId, ticker, from, to, data]
                properties:
                  securityId:
                    type: string
                    format: uuid
                    example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
                  ticker:
                    type: string
                    description: Торговый тикер (для подписей к графику)
                    example: SBER
                  from:
                    $ref: '#/components/schemas/UnixTimestamp'
                    description: Начало интервала данных (включительно)
                  to:
                    $ref: '#/components/schemas/UnixTimestamp'
                    description: Конец интервала данных (включительно)
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PricePoint'
              example:
                securityId: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
                ticker: SBER
                from: 1731484800
                to: 1731571200
                data:
                  - timestamp: 1731571200
                    price: "286.30"
                  - timestamp: 1731571500
                    price: "289.20"
                  - timestamp: 1731571800
                    price: "298.45"
        '400':
          description: Некорректный интервал (`from` > `to`) или иные параметры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: INVALID_DATE_RANGE
                message: Параметр from не может быть больше to
        '404':
          $ref: '#/components/responses/NotFound'

  /securities/{securityId}/orderbook:
    parameters:
      - $ref: '#/components/parameters/SecurityIdPath'
    get:
      tags: [securities]
      summary: Стакан заявок
      description: |
        Возвращает текущий стакан заявок по бумаге: списки лучших цен на покупку (bids)
        и продажу (asks). Параметр depth задаёт глубину — количество уровней с каждой стороны.
      parameters:
        - name: depth
          in: query
          description: Глубина стакана — количество уровней с каждой стороны (asks и bids)
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
