openapi: 3.0.3
info:
  title: ЗОВ Денег — User Service API
  description: |
    Микросервис управления пользователями, аутентификацией, портфелем,
    заявками, транзакциями и балансом.

    **База данных:** PostgreSQL

    ## Аутентификация
    Используется JWT (Bearer). Access token передаётся в заголовке `Authorization: Bearer <token>`.
    Access token живёт **15 минут**, refresh token — **30 дней**.

    ## Роли
    | Роль  | Описание                    |
    |-------|-----------------------------|
    | user  | Аутентифицированный инвестор |
    | admin | Администратор системы        |

    ## Валюта
    Все денежные суммы, баланс и котировки — **в российских рублях**.

    ## Цены и суммы
    Цены, суммы передаются **строками** с десятичной точкой (`"298.45"`).

    ## Даты и время
    Все моменты времени — **Unix timestamp в секундах** (integer/int64, UTC).

    ## Межсервисное взаимодействие
    Для получения данных о ценных бумагах (котировки, информация о бумаге, стакан)
    сервис обращается к Securities Service по внутреннему API.
  version: 1.0.0
  contact:
    name: ЗОВ Денег Team
    email: api@zovdengi.ru

servers:
  - url: https://api.zovdengi.ru/v1
    description: Production

tags:
  - name: auth
    description: Аутентификация и управление сессией
  - name: users
    description: Профиль пользователя
  - name: portfolio
    description: Портфель пользователя
  - name: orders
    description: Торговые заявки (покупка / продажа)
  - name: transactions
    description: История операций
  - name: balance
    description: Брокерский счёт и баланс
  - name: admin
    description: Операции, доступные только пользователям с ролью admin

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token, получается через /auth/login или /auth/token/refresh

  schemas:
    # ── Общие ──────────────────────────────────────────────────────────────
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Машиночитаемый код ошибки
          example: INVALID_PIN
        message:
          type: string
          description: Человекочитаемое описание
          example: Неверный PIN-код
        details:
          type: object
          additionalProperties: true
          description: Дополнительные данные (необязательно)

    ValidationError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            fields:
              type: array
              description: Список полей с ошибками валидации
              items:
                type: object
                required: [field, message]
                properties:
                  field:
                    type: string
                    example: email
                  message:
                    type: string
                    example: Некорректный формат email

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 142
        totalPages:
          type: integer
          example: 8

    DecimalString:
      type: string
      description: Десятичная строка без экспоненциальной записи.
      example: "298.45"

    UnixTimestamp:
      type: integer
      format: int64
      description: Момент времени в секундах с эпохи Unix (UTC).
      example: 1731571200

    # ── Пользователи ───────────────────────────────────────────────────────
    UserRole:
      type: string
      enum: [user, admin]
      description: Роль пользователя в системе

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type: string
          example: Иван
        lastName:
          type: string
          example: Иванов
        email:
          type: string
          format: email
        phone:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        isBlocked:
          type: boolean
          example: false
        createdAt:
          $ref: '#/components/schemas/UnixTimestamp'
        updatedAt:
          $ref: '#/components/schemas/UnixTimestamp'

    # ── Токены ─────────────────────────────────────────────────────────────
    Tokens:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT access token (TTL 15 мин)
        refreshToken:
          type: string
          description: Refresh token (TTL 30 дней)
        expiresIn:
          type: integer
          description: Срок жизни access token в секундах
          example: 900

    # ── Ценные бумаги (встроенная ссылка для portfolio/orders) ─────────────
    SecurityType:
      type: string
      enum: [stock, bond, etf]

    Exchange:
      type: string
      enum: [MOEX, SPB]

    SecuritySector:
      type: string
      enum:
        - Финансы
        - Энергетика
        - Металлургия
        - Телекоммуникации
        - Потребительский сектор
        - Информационные технологии
        - Транспорт
        - Химическая промышленность
        - Строительство
        - Другое

    Security:
      type: object
      description: |
        Краткая информация о бумаге, получаемая из Securities Service
        и встраиваемая в ответы portfolio/orders.
      required:
        - id
        - ticker
        - name
        - type
        - exchange
        - sector
        - lotSize
        - lastPrice
        - priceChange
        - priceChangePct
      properties:
        id:
          type: string
          format: uuid
        ticker:
          type: string
          example: SBER
        name:
          type: string
          example: Сбербанк
        description:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/SecurityType'
        exchange:
          $ref: '#/components/schemas/Exchange'
        sector:
          $ref: '#/components/schemas/SecuritySector'
        lotSize:
          type: integer
          example: 10
        lastPrice:
          $ref: '#/components/schemas/DecimalString'
        priceChange:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "13.12"
        priceChangePct:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "4.6"

    # ── Портфель ───────────────────────────────────────────────────────────
    PortfolioItem:
      type: object
      required: [securityId, security, quantity, averagePrice, currentPrice, currentValue, profitLoss, profitLossPct]
      properties:
        securityId:
          type: string
          format: uuid
        security:
          $ref: '#/components/schemas/Security'
        quantity:
          type: integer
          example: 10
        averagePrice:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "285.00"
        currentPrice:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "298.45"
        currentValue:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "2984.50"
        profitLoss:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "134.50"
        profitLossPct:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "4.72"

    Portfolio:
      type: object
      properties:
        totalValue:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "128450.00"
        securitiesValue:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "83130.00"
        cashBalance:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "45320.00"
        dailyChange:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "1342.00"
        dailyChangePct:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "1.06"
        totalProfitLoss:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "4210.50"
        items:
          type: array
          items:
            $ref: '#/components/schemas/PortfolioItem'

    # ── Заявки ─────────────────────────────────────────────────────────────
    OrderType:
      type: string
      enum: [market]

    OrderSide:
      type: string
      enum: [buy, sell]

    OrderStatus:
      type: string
      enum: [pending, executed, partial, cancelled, rejected]

    Order:
      type: object
      required:
        - id
        - securityId
        - type
        - side
        - status
        - quantity
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        securityId:
          type: string
          format: uuid
        ticker:
          type: string
          example: SBER
        type:
          $ref: '#/components/schemas/OrderType'
        side:
          $ref: '#/components/schemas/OrderSide'
        status:
          $ref: '#/components/schemas/OrderStatus'
        quantity:
          type: integer
          example: 10
        executedPrice:
          type: string
          nullable: true
          example: "298.45"
        executedQuantity:
          type: integer
          nullable: true
          example: 10
        totalAmount:
          type: string
          nullable: true
          example: "2984.50"
        commission:
          type: string
          nullable: true
          example: "8.95"
        createdAt:
          $ref: '#/components/schemas/UnixTimestamp'
        updatedAt:
          $ref: '#/components/schemas/UnixTimestamp'

    CreateOrderRequest:
      type: object
      required: [securityId, side, quantity]
      properties:
        securityId:
          type: string
          format: uuid
        side:
          $ref: '#/components/schemas/OrderSide'
        quantity:
          type: integer
          minimum: 1
          example: 10

    # ── Транзакции ─────────────────────────────────────────────────────────
    TransactionType:
      type: string
      enum: [buy, sell, deposit, withdrawal, dividend]

    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/TransactionType'
        securityId:
          type: string
          format: uuid
          nullable: true
        ticker:
          type: string
          nullable: true
          example: SBER
        securityName:
          type: string
          nullable: true
          example: Сбербанк
        quantity:
          type: integer
          nullable: true
          example: 10
        price:
          type: string
          nullable: true
          example: "298.45"
        amount:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "-2984.50"
        commission:
          type: string
          nullable: true
          example: "8.95"
        orderId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          $ref: '#/components/schemas/UnixTimestamp'

    # ── Баланс ─────────────────────────────────────────────────────────────
    Balance:
      type: object
      properties:
        available:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "45320.00"
        total:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "47800.00"
        blocked:
          allOf:
            - $ref: '#/components/schemas/DecimalString'
          example: "2480.00"

  responses:
    BadRequest:
      description: Некорректный запрос / ошибка валидации
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Не аутентифицирован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Нет прав доступа
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Конфликт — ресурс уже существует
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Бизнес-логика не позволяет выполнить операцию
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    PageSizeParam:
      name: pageSize
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    UserIdPath:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderIdPath:
      name: orderId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TransactionIdPath:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
        format: uuid

# ─────────────────────────────────────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────────────────────────────────────
paths:
  # ════════════════════════════════════════════════════════════════════════
  # AUTH
  # ════════════════════════════════════════════════════════════════════════
  /auth/register:
    post:
      tags: [auth]
      summary: Регистрация нового пользователя
      description: |
        Создаёт аккаунт и возвращает токены для немедленного входа.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [firstName, lastName, email, phone, password]
              properties:
                firstName:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: Иван
                lastName:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: Иванов
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  pattern: '^\+7\d{10}$'
                password:
                  type: string
                  minLength: 8
      responses:
        '201':
          description: Пользователь зарегистрирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserProfile'
                  tokens:
                    $ref: '#/components/schemas/Tokens'
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Пользователь с таким email или телефоном уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                email_taken:
                  value:
                    code: EMAIL_ALREADY_EXISTS
                    message: Пользователь с таким email уже зарегистрирован
                phone_taken:
                  value:
                    code: PHONE_ALREADY_EXISTS
                    message: Пользователь с таким номером телефона уже зарегистрирован
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/login:
    post:
      tags: [auth]
      summary: Повторный вход (восстановление сессии)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone:
                  type: string
                  pattern: '^\+7\d{10}$'
                password:
                  type: string
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserProfile'
                  tokens:
                    $ref: '#/components/schemas/Tokens'
        '401':
          description: Неверный пароль
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/token/refresh:
    post:
      tags: [auth]
      summary: Обновление access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tokens'
        '401':
          description: Refresh token недействителен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ════════════════════════════════════════════════════════════════════════
  # USERS
  # ════════════════════════════════════════════════════════════════════════
  /users/me:
    get:
      tags: [users]
      summary: Профиль текущего пользователя
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [users]
      summary: Обновить профиль
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  minLength: 1
                  maxLength: 50
                lastName:
                  type: string
                  minLength: 1
                  maxLength: 50
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  pattern: '^\+7\d{10}$'
      responses:
        '200':
          description: Профиль обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Email или телефон уже занят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users:
    get:
      tags: [users, admin]
      summary: Список пользователей (только admin)
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: search
          in: query
          schema:
            type: string
        - name: role
          in: query
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: isBlocked
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserProfile'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/{userId}:
    parameters:
      - $ref: '#/components/parameters/UserIdPath'
    get:
      tags: [users, admin]
      summary: Пользователь по ID (только admin)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [users, admin]
      summary: Редактировать пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  minLength: 1
                  maxLength: 50
                lastName:
                  type: string
                  minLength: 1
                  maxLength: 50
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  pattern: '^\+7\d{10}$'
                role:
                  $ref: '#/components/schemas/UserRole'
                isBlocked:
                  type: boolean
      responses:
        '200':
          description: Данные обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Email или телефон уже занят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags: [users, admin]
      summary: Удалить пользователя (только admin)
      responses:
        '204':
          description: Пользователь удалён
        '400':
          description: Нельзя удалить
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                self_delete:
                  value:
                    code: CANNOT_DELETE_SELF
                    message: Нельзя удалить собственный аккаунт
                has_positions:
                  value:
                    code: USER_HAS_ACTIVE_POSITIONS
                    message: Нельзя удалить пользователя с открытыми позициями
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════════════════════════════════
  # PORTFOLIO
  # ════════════════════════════════════════════════════════════════════════
  /portfolio:
    get:
      tags: [portfolio]
      summary: Полный портфель текущего пользователя
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /portfolio/summary:
    get:
      tags: [portfolio]
      summary: Сводка по портфелю для главного экрана
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalValue:
                    allOf:
                      - $ref: '#/components/schemas/DecimalString'
                    example: "128400.00"
                  profitLoss:
                    allOf:
                      - $ref: '#/components/schemas/DecimalString'
                    example: "2640.00"
                  profitLossPct:
                    allOf:
                      - $ref: '#/components/schemas/DecimalString'
                    example: "2.1"
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ════════════════════════════════════════════════════════════════════════
  # ORDERS
  # ════════════════════════════════════════════════════════════════════════
  /orders:
    get:
      tags: [orders]
      summary: Список заявок пользователя
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - name: side
          in: query
          schema:
            $ref: '#/components/schemas/OrderSide'
        - name: securityId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [orders]
      summary: Создать торговую заявку (купить / продать)
      description: |
        Создаёт рыночную заявку. Количество должно быть кратно lotSize бумаги.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заявка принята
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Ошибка валидации или бизнес-ограничение
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                insufficient_funds:
                  value:
                    code: INSUFFICIENT_FUNDS
                    message: Недостаточно средств для совершения сделки
                insufficient_securities:
                  value:
                    code: INSUFFICIENT_SECURITIES
                    message: Недостаточно бумаг в портфеле
                invalid_lot:
                  value:
                    code: INVALID_LOT_SIZE
                    message: Количество должно быть кратно размеру лота
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Бумага не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Рынок закрыт или бумага приостановлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /orders/{orderId}:
    parameters:
      - $ref: '#/components/parameters/OrderIdPath'
    get:
      tags: [orders]
      summary: Детали заявки
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [orders]
      summary: Отменить заявку
      responses:
        '204':
          description: Заявка отменена
        '400':
          description: Заявку нельзя отменить
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════════════════════════════════
  # TRANSACTIONS
  # ════════════════════════════════════════════════════════════════════════
  /transactions:
    get:
      tags: [transactions]
      summary: История транзакций пользователя
      parameters:
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/TransactionType'
        - name: securityId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/TransactionIdPath'
    get:
      tags: [transactions]
      summary: Детали транзакции
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════════════════════════════════
  # BALANCE
  # ════════════════════════════════════════════════════════════════════════
  /balance:
    get:
      tags: [balance]
      summary: Текущий баланс брокерского счёта
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /balance/deposit:
    post:
      tags: [balance]
      summary: Пополнение счёта
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  allOf:
                    - $ref: '#/components/schemas/DecimalString'
                  example: "10000.00"
      responses:
        '200':
          description: Счёт пополнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '400':
          description: Некорректная сумма
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /balance/withdraw:
    post:
      tags: [balance]
      summary: Вывод средств со счёта
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  allOf:
                    - $ref: '#/components/schemas/DecimalString'
                  example: "5000.00"
      responses:
        '200':
          description: Вывод зарегистрирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '400':
          description: Некорректная сумма или недостаточно средств
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_amount:
                  value:
                    code: INVALID_AMOUNT
                    message: Сумма вывода должна быть больше нуля
                insufficient_funds:
                  value:
                    code: INSUFFICIENT_FUNDS
                    message: Недостаточно средств для вывода
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'